<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dojo Weather Forecast!
  </h1>
  <a [routerLink]="['/seattle', 5809844]">Seattle WA</a> | <a [routerLink]="['/sanjose', 5392171]">San Jose CA</a> | <a [routerLink]="['/burbank', 5331835]">Burbank CA</a> | <a [routerLink]="['/dallas', 4190598]">Dallas TX</a> | <a [routerLink]="['/washington', 4792307]">Washington D.C.</a> | <a [routerLink]="['/chicago', 4887398]">Chicago IL</a>
<router-outlet></router-outlet>
